/* 高度 */
.comHei30 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}

.comHei40 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}

.comHeiSp {
  width: 100%;
  min-height: 30px;
  line-height: 20px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
  .name {
    min-width: 100px;
    padding-right: 20px;
  }
  .last {
    flex: 1;
    word-break: break-all;
  }
}

.comHeiAc {
  height: calc(100vh - 94px);
}

/* 行高 */
.lh20 {
  line-height: 20px;
}

.lh30 {
  line-height: 30px;
}

.lh40 {
  line-height: 40px;
}

.lhNo {
  line-height: normal;
}

/* 百分比 */
.full {
  width: 100%;
  height: 100%;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100% !important;
}

.h50 {
  height: 50%;
}

.h100 {
  height: 100%;
}
