/* color */
$colorBl: #409EFF;
$colorLs: #67C23A;
$colorYs: #e5e46e;
$colorJs: #E6A23C;
$colorFe: #F56C6C;
$colorQs: #08fcfe;
$colorFf: #ffffff;
$colorDd: #dddddd;

:export {
  colorBl: $colorBl;
  colorLs: $colorLs;
  colorYs: $colorBl;
  colorJs: $colorBl;
  colorFe: $colorBl;
  colorQs: $colorQs;
  colorFf: $colorQs;
  colorDd: $colorDd;
}
